*{

}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:100px;
    color:darkmagenta;
    font-weight:bold;
    text-align:center;
    font-style:italic;
    -webkit-text-stroke-width:4px;
    -webkit-text-stroke-color:gold;
}

ol{
    display:flex;
    padding: 10px;
    list-style-type:square;
    justify-content:center;

    /*Centers the list*/
}

li{
    display:flex;
    flex-direction: column;
    text-align:center;
    list-style-type:lower-greek;
    font-weight:bold;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    border:10px;
    border-color:rgb(122, 11, 67);
    border-style:inset;
    margin:3px;
    padding:10px;
    background-color:cornflowerblue;
    width:300px;
}

img{
    height:auto;
    width:300px;
}